@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800");

* {
  font-family: 'Nunito Sans', sans-serif;
}

.logotipo {
  width: 55%;
  height: auto;
}

.nav-sidebar > .nav-item .nav-icon.fa.fa-circle,
.nav-sidebar > .nav-item .nav-icon.fas.fa-circle,
.nav-sidebar > .nav-item .nav-icon.far.fa-circle,
.nav-sidebar > .nav-item .nav-icon.fab.fa-circle,
.nav-sidebar > .nav-item .nav-icon.glyphicon.fa-circle,
.nav-sidebar > .nav-item .nav-icon.ion.fa-circle {
  font-size: 0.7rem !important;
}

.nav-sidebar > .nav-item .nav-icon.fas.fa-venus {
  font-size: 1.2rem !important;
}

.medianeiras-logo {
   margin-top: 7px !important;
}

.fc-today {
  background-color: #fcf8e3 !important;
  color: #212529 !important;
  .fc-day-number {
    font-weight: bold !important;
  }
}

#last-activities > tbody > tr > td {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(0, 0, 0, 0.5) !important;
}

.breadcrumb-item:not(a) {
  color: rgba(0, 0, 0, 0.7) !important;
}

[class*="sidebar-dark-"] {
  background-color: #3a3b45 !important;
}

.content-wrapper {
  background: #f8f9fc !important;
}

.nav-icon {
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 1rem !important;
}

.nav-treeview > .nav-item > .nav-link.active > .nav-icon {
  color: #3a3b45 !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active > .nav-icon {
  color: #fff !important;
}

table.dataTable {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.form-group {
  margin-bottom: 1.3rem !important;
}

.btn-actions-group > .btn{
  margin-left: 5px;
}