@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

$grid-gutter-width: 70px !default;

abbr[title] {
  text-decoration: none !important;
}

body, .btn, input {
  font-size: 1.6rem !important;
}

.fa-graduation-cap {
  margin-left: -3px !important;
  margin-right: 4px;
}

.main-header .logo {
  height: 52px !important;
  line-height: 52px !important;
}

.navbar-nav>li>a {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.sidebar-menu {
  font-size: 15px;
}

.btn-actions-group .btn {
  i {
    font-size: 1.6rem !important;
  }

  i.fa-pencil, i.fa-plus {
    font-size: 1.5rem !important;
    margin-top: 1px;
  }

  i.fa-plus {
    margin-top: 2px;
  }
}

.btn-actions-group .btn, .drp-buttons .btn{
  font-size: 14px !important;
}

.fa-circle-o {
  font-size: 1rem !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(0, 0, 0, 0.5) !important;
}

.breadcrumb-item:not(a) {
  color: rgba(0, 0, 0, 0.7) !important;
}

/*--------------------------------------- Events ---------------------------------------*/
.event-info {
  font-size: 1.7rem !important;
  span.info-item {
    display: block;
    margin-bottom: 10px;

    i {
      color: #3c8dbc;
      margin-right: 5px;
      
    }
  }
}

.event-description .well {
  margin-top: 10px;
}

.fc button .fc-icon {
  top: 0 !important;
}

.fc-today {
  background: rgba(255,255,153, 0.45) !important;
}
/*------------------------------------- End Events -------------------------------------*/

/*------------------------------------ Devise Pages ------------------------------------*/
.login-page {
  align-items: center !important;
  display: flex !important;
  flex-direction: column !important;
  height: 100vh !important;
}

.login-box {
  padding: 3rem 0; 
  display: flex !important; 
  flex-direction: column !important; 
  margin: auto !important; 
}

.logotipo {
  width: 55%;
  // height: auto;
  cursor: pointer !important;
}

.login-logo {
  margin-bottom: .7rem !important;
}

.icheckbox_square-blue {
  margin-right: 4px !important;
}

.social-auth-links {
  margin-bottom: 0 !important;
}

.social-auth-links p:last-of-type {
  margin-bottom: 0 !important;
}

/*------------------------------------ End Devise Pages --------------------------------*/

/*------------------------------------- Input Related ------------------------------------*/
.form-group {
  margin-bottom: 1.5rem !important;
}

.input-group {
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
  font-size: 1.6rem !important;
}

.form-control:not(textarea) {
  height: 38px !important;
  line-height: 1.7 !important;
}
/*------------------------------------- End Input Related ------------------------------------*/

/*---------------------------------------- DataTables ----------------------------------------*/
.data-tables {
  .form-control {
    height: 34px !important;
  }
  .row {
    margin-top: 7px; 
    margin-bottom: 7px;
  }
}

.dataTables_length select {
  margin-right: 5px;
}
/*-------------------------------------- End DataTables --------------------------------------*/
.toast-top-right, .toast-top-right > div:hover {
  box-shadow: none !important;
}

.toast-error {
  background-color: #dd4b39 !important;
  border: 1px solid #d73925 !important;
}

.invoice {
  margin: 10px 15px !important;
}