@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

$grid-gutter-width: 70px !default;

abbr[title] { text-decoration: none !important; }

body, .btn, input, select { font-size: 1.6rem !important; }

.fa-graduation-cap {
  margin-left: -3px !important;
  margin-right: 4px;
}

.main-header .logo {
  height: 52px !important;
  line-height: 52px !important;
}

.navbar-nav > li > a {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.btn-actions-group a,
.drp-buttons button { font-size: 1.4rem !important; }

.sidebar-menu { font-size: 15px; }

.fa-circle-o { font-size: 1rem !important; }

.content-header > .breadcrumb > li > a { color: #3c8dbc !important; }

.breadcrumb > li+li:before { color: #aaa !important; }

.btn-hover {
  span {
    max-width: 0;
    -webkit-transition: max-width 1.5s;
    transition: max-width 1.5s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
  }
  display: flex !important;
  align-items: center !important;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 1rem !important;
  &:hover span { max-width: 20rem; }
}

@media (max-width: 767px) {
  .navbar-nav > .user-menu .user-image { margin-top: 0 !important; }
}

.invoice { margin: 10px 15px !important; }

/*------------------------------------- Custom components ------------------------------------*/
// Select2
.select2-container .select2-selection--multiple { min-height: 38px !important; }

.select2 { width: 100% !important; }

.select2-search__field::placeholder { padding-left: 1rem !important; }

// DataTables
.data-tables {
  .form-control { height: 34px !important; }
  .row {
    margin-top: 7px; 
    margin-bottom: 7px;
  }
}

.d-flex,
.dataTables_paginate { display: flex !important; }

.dataTables_paginate { justify-content: center !important; }

.dataTables_info { 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

@media(min-width: 768px) and (max-width: 992px) { 
  .dataTables_paginate { float: right; }
}

@media (min-width: 768px) {
  .dataTables_info { text-align: end !important; }
}

@media (max-width: 768px) {
  .dt-buttons {
    text-align: center !important;
    margin-bottom: 2rem;
  }
  .dataTables_paginate { padding: 1rem 0; }
}

.justify-content-between { justify-content: space-between !important; }

.dataTables_length select { margin-right: 5px; }

// Toastr
.toast-top-right, .toast-top-right > div:hover { box-shadow: none !important; }

.toast-error {
  background-color: #dd4b39 !important;
  border: 1px solid #d73925 !important;
}

.toastr-success {
  background-color: #00a65a !important;
  border: 1px solid #008d4c !important;
}

.toast-info, .toast-success, .toast-error {
  opacity: 0.85 !important; 
  &:hover { opacity: 1 !important; }
}

// Selectize
.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
  padding: 5px 8px !important;
}

.selectize-dropdown-content > .active {
  background-color: #367FA8 !important;
  color: #fff !important;
}

.selectize-input { 
  // border: 1px solid #d2d6de;
  border-radius: 0 !important;
  color: #555 !important;
  min-height: 38px !important;
  line-height: 1.7 !important;
  &:focus {
    border-color: #3c8dbc !important;
    box-shadow: none !important;
  }
}

.selectize-input.focus {
  box-shadow: none !important;
  border-color: #3c8dbc !important;
}

.selectize-input > input[placeholder] { width: 100% !important; }

.selectize-control.single .selectize-input:after { 
  border-color: #555 transparent transparent transparent !important;
}

.has-error .selectize-input { border-color: #dd4b39 !important; }
/*----------------------------------- End custom components  -----------------------------------*/
.btn-group { display: inline-flex !important; }

.bootstrap-duallistbox-container .info {
  font-size: 1.3rem !important;
  margin-bottom: 1.5rem !important;
  margin-top: 0.5rem !important;  
}

span.info-container {
  vertical-align: middle !important;
}

