<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk=" crossorigin="anonymous" />
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v5.0"></script>

<section class="main">

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-5 col-md-12 intro-text">
        <h2>Bem-vindo(a)!</h2>
        <p class="text-justify"> 
          O site que inauguramos pretende dar a oportunidade de todos conhecerem as nossas atividades, serviços 
          e cursos, a qualidade e esforço do nosso trabalho e principalmente, mobilizar colaboradores e apoiantes. 
          Para cumprir a nossa missão, precisamos da colaboração dos nossos voluntários e ajuda dos nossos parceiros. 
        </p>
        <p><strong>A nossa porta está aberta para todos.</strong> É através dela que esperemos aumentar o espaço de convívio e 
          a prática de uma proximidade solidária ativa, eficiente e voluntária.
        </p> 
        <a href="" class="btn btn-primary more-info">Mais informações</a>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fccnmedianeira%2Fvideos%2F1482307078577486%2F&show_text=0"
          class="position-absolute w-100 h-100 border-0" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>  
      </div>
    </div>
  </div>
</section>

<section class="main-activities">
  

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Principais atividades</h2>
        <p class="description-1 text-dark">
          <span class="font-weight-bold">Contamos com um corpo de colaboradores profissionais e voluntários que 
          procuram dar resposta à diversidade de situações dos que o procuram. </span>
        </p>
        <p class="description">
          Juntamente a Paróquia Nossa Senhora das Dores, oferecemos diversos cursos e atividades para o nosso 
          público-alvo.
        </p>
      </div>
      
      <div class="col-lg-4 col-md-12 activity-col">
        <div class="card activity-card"> 
          <img 
          src="https://scontent.ffor8-2.fna.fbcdn.net/v/t1.0-9/89495429_772927179782589_5838308861185884160_n.jpg?_nc_cat=107&_nc_sid=110474&_nc_ohc=C0Yv4HYW-HEAX_Iiuaz&_nc_ht=scontent.ffor8-2.fna&oh=85f9567e2bbb0f406cf9415a75051549&oe=5ED664F5" 
          class="card-img rounded-0">
              
          <div class="card-img-overlay activity-overlay">
            <a href=""><i class="fas fa-share-alt"></i></a>          
          </div>
        </div>
       
        <div class="card activity-card-info">
          <div class="card-body">        
            <div class="d-flex justify-content-between">
              <h4 class="card-title activity-name">Balé</h4>
              <h6 class="activity-link">
                <a href=""><i class="fas fa-arrow-right"></i></a>
              </h6>
            </div> 
            <p><i class="fas fa-user"></i>Prof. Patrícia Fernandes</p>
            <small><i class="far fa-calendar-alt"></i>Sábado</small>
            <small><i class="far fa-clock"></i>09 às 11h</small>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 activity-col">
        <div class="card border-0 text-white"> 
          <img 
          src="https://scontent.ffor8-2.fna.fbcdn.net/v/t1.0-9/84724254_753982491677058_716250603369529344_n.jpg?_nc_cat=102&_nc_sid=110474&_nc_ohc=NjchjPF2Kz4AX-7Ojfr&_nc_ht=scontent.ffor8-2.fna&oh=1c1b809246885b9daec1143759046bc0&oe=5ED60BBC" 
          class="card-img rounded-0">
              
          <div class="card-img-overlay activity-overlay">
            <a href=""><i class="fas fa-share-alt"></i></a>          
          </div>
        </div>
       
        <div class="card activity-card-info">
          <div class="card-body">        
            <div class="d-flex justify-content-between">
              <h4 class="card-title activity-name">Karatê</h4>
              <h6 class="activity-link">
                <a href=""><i class="fas fa-arrow-right"></i></a>
              </h6>
            </div> 
            <p><i class="fas fa-user"></i>Prof. José Juscelino</p>
            <small><i class="far fa-calendar-alt"></i>Qua/Qui/Sex</small>
            <small><i class="far fa-clock"></i>18:30 às 19:30</small>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 activity-col">
        <div class="card border-0 text-white"> 
          <img 
          src="https://scontent.ffor8-1.fna.fbcdn.net/v/t1.0-9/76605053_676670766074898_4277867128524111872_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=H6yIa9ziunsAX-uDhL7&_nc_ht=scontent.ffor8-1.fna&oh=ddf5d61cd7da6f503f72b03fa0dc3a9e&oe=5ED3D432" 
          class="card-img rounded-0">
              
          <div class="card-img-overlay activity-overlay">
            <a href=""><i class="fas fa-share-alt"></i></a>          
          </div>
        </div>
       
        <div class="card activity-card-info">
          <div class="card-body">        
            <div class="d-flex justify-content-between">
              <h4 class="card-title activity-name">Muay Thai</h4>
              <h6 class="activity-link">
                <a href=""><i class="fas fa-arrow-right"></i></a>
              </h6>
            </div> 
            <p><i class="fas fa-user"></i>Prof. José Brayner</p>
            <small><i class="far fa-calendar-alt"></i>Ter/Qua/Qui/Sex</small>
            <small><i class="far fa-clock"></i>20 às 21h</small>
          </div>
        </div>
      </div>
  
      <div class="col-md-12 all-activities text-center mt-5">
        <a href="" class="btn btn-outline-dark">Ver todas as atividades</a>
      </div>
      
    </div>
  </div>
</section>

<section class="volunteering">
  <h2>Como você pode nos ajudar</h2>
  <div class="container">
    <div class="row ">
      <div class="col-md-12">  
        <p class="donations">O Centro Comunitário Nossa Senhora Medianeira recebe qualquer 
        tipo de doações, como: Alimentos, roupas, material de higiene e limpeza, material escolar, 
        móveis e eletrodomésticos. Estamos de portas abertas para receber você.</p>
      </div>

      <div class="col-lg-4 col-md-12 volunteer-col">
        <div class="card volunteer">
          <div class="card-body">
            <%= inline_svg_tag("help.svg", class: "img-fluid") %>
            
            <h4>Seja um voluntário</h4>
            <p>Todo o nosso trabalho é realizado por voluntários dispostos a colaborar em nossas atividades,
            projetos e eventos, através da doação de seu tempo, conhecimentos e recursos. 
            Precisamos de voluntários para atender a demanda crescente.
            </p>
            <a href="" class="btn btn-outline-primary">Quero fazer parte</a>
          </div>
        </div>  
      </div>

      <div class="col-lg-4 col-md-12 volunteer-col">
        <div class="card volunteer">
          <div class="card-body">
            <%= inline_svg_tag("heart.svg", class: "img-fluid") %>
            <h4>Seja um parceiro</h4>
            <p>Sua ajuda é muito importante para possamos desenvolver um bom trabalho
            e alcançar muito mais crianças e famílias que precisam de nós.
            Ajude-nos a continuar com as nossas atividades! 
            Junte-se ao demais parceiros colaborando para que possamos expandir nosso trabalho.</p>
            <a href="" class="btn btn-outline-primary">Realizar parceria</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 volunteer-col">
        <div class="card volunteer">
          <div class="card-body">
            <%= inline_svg_tag("money.svg", class: "img-fluid") %>
            <h4>Seja um doador</h4>
            <p>Nossa instituição é mantida por doações e ações voluntárias 
            de pessoas que desejam que nosso trabalho seja reconhecido e significativo. 
            Nosso trabalho apresenta uma perspectiva de esperança para muitas crianças e famílias 
            que precisam de suporte.</p>
            <a href="" class="btn btn-outline-primary">Quero doar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="events">
  <h2>Próximos eventos - <%= l(Date.today, format: "%B") %></h2>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card event-card">
          <div class="card-body">
            <div class="row align-items-center">
      
              <div class="col-lg-1 col-md-auto">
                <div class="event-day">
                  <h4>04</h4>
                </div>
              </div>

              <div class="col-lg-10 col-md-9 event-details">
                <p class="event-title">Entrega da AP1 de Gestão de Projetos</p>
                <p class="event-description">
                  Entregar esta porcaria deste trabalho que ainda não li absolutamente nenhum slide
                  e não faço a menor ideia de como começar.
                </p>
                <span>
                  <i class="far fa-clock"></i><span>Segunda - 19h às 23h</span>
                  <i class="fas fa-map-marker-alt"></i><span>Google Classroom</span>
                </span>
              </div>

              <div class="col-lg-1 col-md-1">          
                <div class="d-flex flex-wrap justify-content-center">       
                  <a class="twitter-share-button"
                     target="_blank"
                     href="https://twitter.com/intent/tweet?text=Hello%20world">
                    <div class="icon twitter">
                      <i class="fab fa-twitter"></i>
                    </div>
                  </a>
                  <a href="">
                    <div class="icon facebook">
                      <i class="fab fa-facebook"></i>
                    </div>   
                  </a>   
                </div>      
              </div>

            </div>
          </div> <!-- End Card Body -->
        </div> <!-- End Card -->
      </div> <!-- End Col-md-12 -->    
    </div> <!-- End Row -->
  </div> <!-- End Container -->
</section>

<section class="partners">
  <h2>Parceiros</h2>
  
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-md-3">     
        <img src="http://ccnmedianeiras.herokuapp.com/assets/logo_fametro-4ccfded58fdb8a25f15a0960db3ad2dd2b5dd5faa1368e646ddbb54e477672a7.png" alt=""
        class="partner-logo img-fluid">           
      </div>
    </div>
  </div>
</section>
