.form-group { margin-bottom: 2rem !important; }

.no-mb { margin-bottom: 0 !important; }

textarea {
  resize: vertical;
  font-size: 1.6rem !important;
}

.form-control:not(textarea) {
  height: 38px;
  line-height: 1.7 !important;
}

abbr[title] { text-decoration: none !important; }

.icheckbox_square-blue { margin-right: 0.6rem !important; }

.hint { color: #737373 !important; }

span.help-block { display: inline-flex !important; }

.help-block.hint { float: right; }