<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <p class="login-box-msg">
    <b>Esqueceu sua senha?</b>
    Recupere-a digitando o e-mail que você usou para criar sua conta.
  </p>

  <div class="input-group mb-3">
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
    <div class="input-group-append">
      <div class="input-group-text">
        <span class="fas fa-envelope"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.submit "Recuperar senha", class: "btn btn-primary btn-block" %>
    </div>
  </div>

  <%= render 'devise/shared/links' %>
<% end %>
