<% breadcrumb :calendar %>
<div class="row">
  <div class="col-12">
    <div class="card card-primary">
      <div class="card-body p-0">
        <div id="calendar" data-src=<%= admin_events_path(format: :json) %>></div>
      </div>
    </div>
  </div>
</div>
