<div class="card">
  <div class="card-header">
    <h3 class="card-title">Detalhes da atividade</h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fas fa-minus"></i></button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
        <div class="row">
          <div class="col-12 col-sm-4">
            <div class="info-box bg-light">
              <div class="info-box-content">
                <span class="info-box-text text-center text-muted">Capacidade máxima de alunos</span>
                <span class="info-box-number text-center text-muted mb-0"><%= @activity.max_capacity %></span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="info-box bg-light">
              <div class="info-box-content">
                <span class="info-box-text text-center text-muted">Total amount spent</span>
                <span class="info-box-number text-center text-muted mb-0">2000</span>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <div class="info-box bg-light">
              <div class="info-box-content">
                <span class="info-box-text text-center text-muted">Estimated project duration</span>
                <span class="info-box-number text-center text-muted mb-0">20 <span>
              </span></span></div>
            </div>
          </div>
        </div>
      </div>

  </div>
  <!-- /.card-body -->
</div>